<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/2f0d215eb6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Pengala</title>
    <link rel="icon" href="../static/images/icon.png" type="image/x-icon" />
  </head>
  <body
    class="antialiased duration-300 transition-colors text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-950"
  >
    <header
      class="flex fixed backdrop-filter backdrop-blur-md top-0 z-40 w-full flex-none transition-colors duration-300 lg:z-50 bg-opacity-0 dark:bg-[#110F1A] h-[80px] max-h-[80px]"
    >
      <div
        class="flex-1 flex items-center justify-between mx-auto px-4 gap-2 md:gap-6 w-full"
      >
        <div class="flex">
          <a
            aria-current="page"
            href="/"
            class="router-link-active router-link-exact-active"
            ><div class="flex max-w-[136px] max-h-10">
              <img src="../static/images/logo.png" /></div
          ></a>
        </div>
        <div class="w-full flex justify-between items-center">
          <div></div>
          <div
            class="hidden lg:flex text-sm items-center menu-wrapper h-[80px] max-h-[80px]"
          >
            <div
              style="
                position: fixed;
                top: 1;
                left: 1;
                width: 1;
                height: 0;
                padding: 0;
                margin: -1;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                white-space: nowrap;
                border-width: 0;
                display: none;
              "
            ></div>
            <a href="/" class="router-link-active"
              ><span
                class="h-20 max-h-20 px-4 text-base font-bold flex items-center text-black dark:text-gray-300"
                >Explore</span
              ></a
            ><a href="/creation"
              ><span
                class="h-20 max-h-20 px-4 text-base font-bold flex items-center text-black dark:text-gray-300"
                >My Creation</span
              ></a
            >
          </div>
          {% if user_auth.is_auth %}
          <div class="relative">
            <button
              class="flex items-center transition-all duration-300 text-base max-h-20 dark:text-gray-300 outline-none w-28 h-8 rounded-lg bg-gradient-to-r from-purple-500 to-sky-500 text-white justify-between"
              type="button"
              aria-expanded="false"
            >
              <div
                class="flex items-center transition-all duration-300 text-base max-h-20 dark:text-gray-300 outline-none grow w-16 h-8 text-white justify-between"
              >
                <a
                  href="/create/generate"
                  class="h-full w-full flex items-center justify-center"
                  >Create</a
                >
              </div>
              <div class="h-full w-[1px] bg-white"></div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="w-8"
                width="1em"
                height="1em"
                viewBox="0 0 32 32"
                data-v-c3ad5561=""
              >
                <path
                  fill="currentColor"
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                ></path>
              </svg>
            </button>
          </div>
          <div
            style="
              position: fixed;
              top: 1;
              left: 1;
              width: 1;
              height: 0;
              padding: 0;
              margin: -1;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              white-space: nowrap;
              border-width: 0;
              display: none;
            "
          ></div>
          <!--]--><!--]-->
        </div>
        <!-- <div class="w-full flex justify-end items-center">
          <div class="relative">
            <button
              class="flex items-center transition-all duration-300 text-base max-h-20 dark:text-gray-300 outline-none w-28 h-8 rounded-lg bg-gradient-to-r from-purple-500 to-sky-500 text-white justify-between"
              type="button"
              aria-expanded="false"
            >
              <div
                class="flex items-center transition-all duration-300 text-base max-h-20 dark:text-gray-300 outline-none grow w-16 h-8 text-white justify-between"
              >
                <a
                  href="/create"
                  class="h-full w-full flex items-center justify-center"
                  >Create</a
                >
              </div>
            </button>
          </div>
          <div
            style="
              position: fixed;
              top: 1;
              left: 1;
              width: 1;
              height: 0;
              padding: 0;
              margin: -1;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              white-space: nowrap;
              border-width: 0;
              display: none;
            "
          ></div>
        </div> -->
        <div class="relative gap-2 md:gap-6 flex items-center">
          <div class="user-avatar cursor-pointer min-w-[40px]">
            <img
              class="w-10 h-10 inline-block rounded-full"
              src="{{user_auth.user_avatar}}"
              alt="{{user_auth.user_name}}"
            />
          </div>
          <div
            class="user-info-container bg-white absolute top-[3.25rem] right-1 hidden min-w-60 p-2 flex-col items-start gap-1 rounded-lg shadow-md bg-opacity-95 text-black"
          >
            <div
              class="flex w-full px-3 py-2 items-center gap-2 rounded-lg cursor-pointer relative after:content-[''] after:absolute after:border-b after:w-[100%] after:border-[#E3E3E3] after:-bottom-1 after:right-0"
            >
              <div class="cursor-pointer w-6 h-6">
                <img
                  class="inline-block rounded-full w-6 h-6"
                  src="{{user_auth.user_avatar}}"
                  alt="{{user_auth.user_name}}"
                />
              </div>
              <p>{{user_auth.user_name}}</p>
            </div>
            <button
              class="btn-logout flex px-3 w-full py-2 items-center gap-2 rounded-lg cursor-pointer relative"
            >
              <img src="../static/images/logout_icon.svg" alt="logout" /><span
                >Logout</span
              >
            </button>
          </div>
        </div>
        {% else %}
        <button
          class="login-btn flex space-x-2 h-8 max-h-8 w-20 min-w-[80px] items-center justify-end rounded-full py-2 px-4 bg-blue-600 hover:text-opacity-75 dark:hover:text-white font-[Nunito] text-sm font-semibold text-white"
        >
          Sign in
        </button>

        {% endif %}
      </div>
    </header>
    <div class="pt-20">
      <div class="w-full h-full px-4">
        <div class="infinite-scroll-wrapper explore hidden-scroll">
          <div class="images-wrapper">
            <div id="images-column-1" class="images-column"></div>
            <div id="images-column-2" class="images-column"></div>
            <div id="images-column-3" class="images-column"></div>
            <div id="images-column-4" class="images-column"></div>
            <div id="images-column-5" class="images-column"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div
        id="image-dialog-container"
        class="fixed inset-0 hidden justify-center items-center z-[60] bg-black bg-opacity-80 backdrop-blur"
      >
        <div
          class="relative rounded-2xl shadow-[0_0_15px_rgba(0,0,0,0.2)] lg:max-w-[90%] lg:w-auto w-full h-full lg:h-4/5"
        >
          <div
            id="close-image-dialog"
            class="rounded-full bg-gray-700 bg-opacity-50 flex items-center justify-center cursor-pointer absolute top-0 lg:right-[-40px] w-8 h-8 right-0 z-50 max-lg:hidden"
          >
            <img src="../static/images/close_icon.svg" alt="" />
          </div>
          <div class="h-full max-lg:h-[calc(100%-40px)] w-full max-lg:mt-10">
            <div
              class="lg:rounded-2xl lg:w-auto w-full h-full max-h-full flex lg:flex-row flex-col bg-gray-900 lg:overflow-y-visible overflow-y-auto"
            >
              <div
                class="lg:rounded-md lg:p-[6px] lg:max-h-full max-h-[80%] h-full flex items-center justify-center"
              >
                <div
                  id="transferred-image-dialog"
                  class="overflow-hidden relative lg:rounded-[10px] h-full w-fit"
                >
                  <img
                    src=""
                    class="object-contain h-full w-auto flex"
                    decoding="async"
                    style="aspect-ratio: 1 / 1"
                  />
                </div>
                <div
                  id="raw-image-dialog-left"
                  class="overflow-hidden lg:rounded-[10px] h-full w-fit hidden"
                >
                  <img
                    src=""
                    class="object-contain h-full w-auto flex"
                    decoding="async"
                  />
                </div>
              </div>
              <div
                class="flex flex-col toolbar lg:min-h-full lg:h-full w-full lg:max-w-[320px] lg:rounded-r-2xl lg:rounded-l-lg bg-[#18212F] lg:overflow-auto lg:w-[320px] lg:min-w-[320px] hidden-scroll"
              >
                <div class="sticky top-0 bg-[#18212F] px-4 pt-4 z-40">
                  <div
                    class="pb-4 flex gap-2 border-solid border-b border-gray-600"
                  >
                    <img
                      id="user-avatar-dialog"
                      src=""
                      class="w-10 h-10 rounded-full cursor-default"
                      alt=""
                    />
                    <p
                      id="user-name-dialog"
                      class="text-xs text-justify my-auto"
                    ></p>
                  </div>
                </div>
                <div class="p-4 lg:pb-16 flex flex-col gap-4">
                  <div
                    class="text-sm w-full flex flex-col gap-4 border-solid border-b-[1px] border-gray-600 pb-4"
                  >
                    <div
                      id="raw-image-dialog-right"
                      class="w-1/3 lg:w-[100px] max-w-full group hidden"
                    >
                      <div class="relative">
                        <div
                          class="overflow-hidden rounded-md cursor-pointer opacity-60 group-hover:scale-95"
                        >
                          <img
                            src=""
                            class="object-contain h-full w-auto flex"
                            decoding="async"
                          /><svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="17"
                            height="17"
                            viewBox="0 0 14 14"
                            class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 opacity-80 cursor-pointer"
                          >
                            <g>
                              <path
                                d="M6,0L8,0L8,1L12,1C13.1046,1,14,1.89543,14,3L14,11C14,12.1046,13.1046,13,12,13L8,13L8,14L6,14L6,13L2,13C0.895431,13,0,12.1046,0,11L0,3C0,1.89543,0.895431,1,2,1L6,1L6,0ZM8,11.5L12,11.5C12.2455,11.5,12.4496,11.3231,12.4919,11.0899L12.5,11L12.5,3C12.5,2.75454,12.3231,2.55039,12.0899,2.50806L12,2.5L8,2.5L8,11.5Z"
                                fill="white"
                                fill-rule="evenodd"
                                fill-opacity="1"
                              ></path>
                            </g>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div id="text-prompt-container" class="flex flex-col gap-2">
                      <div class="text-gray-400 relative flex gap-2">
                        <div>Text Prompt</div>
                        <svg
                          id="copy-text-prompt-dialog"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="cursor-pointer hover:opacity-50"
                        >
                          <g id="vuesax/linear/copy">
                            <g id="copy">
                              <path
                                id="Vector"
                                d="M13.3346 10.7501V14.2501C13.3346 17.1667 12.168 18.3334 9.2513 18.3334H5.7513C2.83464 18.3334 1.66797 17.1667 1.66797 14.2501V10.7501C1.66797 7.83341 2.83464 6.66675 5.7513 6.66675H9.2513C12.168 6.66675 13.3346 7.83341 13.3346 10.7501Z"
                                stroke="#9CA3AF"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                              <path
                                id="Vector_2"
                                d="M18.3346 5.75008V9.25008C18.3346 12.1667 17.168 13.3334 14.2513 13.3334H13.3346V10.7501C13.3346 7.83341 12.168 6.66675 9.2513 6.66675H6.66797V5.75008C6.66797 2.83341 7.83464 1.66675 10.7513 1.66675H14.2513C17.168 1.66675 18.3346 2.83341 18.3346 5.75008Z"
                                stroke="#9CA3AF"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              ></path>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div id="text-prompt-dialog"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="lg:bg-[#18212F] p-4 lg:absolute lg:bottom-0 rounded-2xl w-full"
                  style="width: inherit; max-width: inherit"
                >
                  <div class="relative flex justify-end">
                    <button
                      id="btn-download-dialog"
                      class="flex items-center justify-center hover:bg-gray-500/40 border border-solid border-gray-700/80 rounded-lg h-9 hover:brightness-110 shadow-md px-4"
                    >
                      <svg
                        width="21"
                        height="20"
                        viewBox="0 0 21 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="mr-2"
                      >
                        <g id="vuesax/outline/import">
                          <g id="import">
                            <path
                              id="Vector"
                              d="M10.4008 12.4916C10.2424 12.4916 10.0841 12.4333 9.95911 12.3083L7.82578 10.1749C7.58411 9.93327 7.58411 9.53327 7.82578 9.2916C8.06745 9.04993 8.46745 9.04993 8.70911 9.2916L10.4008 10.9833L12.0924 9.2916C12.3341 9.04993 12.7341 9.04993 12.9758 9.2916C13.2174 9.53327 13.2174 9.93327 12.9758 10.1749L10.8424 12.3083C10.7174 12.4333 10.5591 12.4916 10.4008 12.4916Z"
                              fill="white"
                            ></path>
                            <path
                              id="Vector_2"
                              d="M10.3984 12.4333C10.0568 12.4333 9.77344 12.1499 9.77344 11.8083V3.33325C9.77344 2.99159 10.0568 2.70825 10.3984 2.70825C10.7401 2.70825 11.0234 2.99159 11.0234 3.33325V11.8083C11.0234 12.1499 10.7401 12.4333 10.3984 12.4333Z"
                              fill="white"
                            ></path>
                            <path
                              id="Vector_3"
                              d="M10.4987 17.4416C6.20703 17.4416 3.20703 14.4416 3.20703 10.1499C3.20703 9.80824 3.49036 9.5249 3.83203 9.5249C4.1737 9.5249 4.45703 9.80824 4.45703 10.1499C4.45703 13.7082 6.94036 16.1916 10.4987 16.1916C14.057 16.1916 16.5404 13.7082 16.5404 10.1499C16.5404 9.80824 16.8237 9.5249 17.1654 9.5249C17.507 9.5249 17.7904 9.80824 17.7904 10.1499C17.7904 14.4416 14.7904 17.4416 10.4987 17.4416Z"
                              fill="white"
                            ></path>
                          </g>
                        </g>
                      </svg>
                      <span class="text-sm">Download</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%if not user_auth.is_auth %}
    <div
      id="login-dialog"
      class="fixed inset-0 flex justify-center items-center z-[60] bg-black bg-opacity-80"
    >
      <div
        class="relative rounded-2xl shadow-[0_0_15px_rgba(0,0,0,0.2)] lg:max-w-[90%] lg:w-auto w-full h-full lg:h-fit"
      >
        <div
          id="close-login-dialog"
          class="rounded-full bg-gray-700 bg-opacity-50 flex items-center justify-center cursor-pointer absolute top-0 lg:right-[-40px] w-8 h-8 right-0 z-50 max-lg:hidden"
        >
          <img src="../static/images/close_icon.svg" alt="" />
        </div>
        <div
          class="absolute lg:hidden bg-slate-800 opacity-90 z-[100] w-full flex h-10 shadow-xl"
        >
          <div class="flex items-center justify-center cursor-pointer ml-3">
            <img src="../static/images/back_icon.svg" alt="" class="h-7 w-7" />
          </div>
        </div>

        <div class="h-full max-lg:h-[calc(100%-40px)] w-full max-lg:mt-10">
          <div
            class="h-[540px] flex items-stretch bg-white shadow-lg rounded-[0.4rem] justify-between text-center text-base leading-6 text-gray-700 max-lg:w-full max-lg:rounded-none max-lg:h-full"
          >
            <div
              class="p-6 w-[400px] text-left box-border max-h-600 flex justify-center items-center rounded-[0.4rem] lg:rounded-r-none max-lg:w-full max-lg:h-full max-lg:rounded-none"
            >
              <div
                class="h-full px-4 rounded-lg text-xs w-full bg-white/80 overflow-y-scroll flex flex-col justify-start hidden-scroll"
              >
                <p class="text-2xl text-gray-900 leading-32 mb-10">
                  Welcome back to Pengala! Please sign in 🎉
                </p>
                <div class="btn-login-google relative">
                  <div
                    class="style_btn false border-none outline-none bg-gray-200 text-[13px] rounded cursor-pointer w-full h-10 leading-10 text-center my-2 mx-0 font-normal relative"
                  >
                    <div
                      class="absolute h-6 left-3 top-[4px] max-[450px]:left-0.5"
                    >
                      <img
                        src="../static/images/google_icon.svg"
                        alt=""
                        heigh="30"
                        width="30"
                      />
                    </div>
                    <div class="text-center">
                      <button>Sign in with Google</button>
                    </div>
                  </div>
                  <span class="google_login_btn_container"></span>
                </div>
              </div>
            </div>
            <div
              class="rounded-l-none rounded-r-[0.4rem] w-[480px] p-2 items-center justify-center box-border relative loginRightPadding hidden lg:flex"
            >
              <img
                src="../static/images/login-bg.png"
                class="w-full h-full object-contain"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../static/js/firebase.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script type="module" src="../static/js/script.js"></script>
  </body>
</html>
